<div class="moon-menu">
  <div class="moon-menu-items">
    <div id="moon-menu-item-back2bottom" class="moon-menu-item">
      <i class="fas fa-chevron-down"></i>
    </div>
    <div id="moon-menu-item-back2top" class="moon-menu-item">
      <i class="fas fa-chevron-up"></i>
    </div>
  </div>
  <div class="moon-menu-button">
    <svg class="moon-menu-bg">
      <circle class="moon-menu-cricle" cx="50%" cy="50%" r="44%"></circle>
      <circle class="moon-menu-border" cx="50%" cy="50%" r="48%"></circle>
    </svg>
    <div class="moon-menu-content">
      <div class="moon-menu-icon"><i class="fas fa-ellipsis-v"></i></div>
      <div class="moon-menu-text"></div>
    </div>
  </div>
</div>
<script src="/js/injector.js"></script>
