<link rel="stylesheet" type="text/css" href="/css/injector/main.css" />
<link rel="preload" as="style" href="/css/injector/light.css" />
<link rel="preload" as="style" href="/css/injector/dark.css" />
